[submodule "drove"]
	path = drove
	url = git@github.com:PhonePe/drove.git
[submodule "drove-cli"]
	path = drove-cli
	url = git@github.com:PhonePe/drove-cli.git
[submodule "epoch"]
	path = epoch
	url = git@github.com:PhonePe/epoch.git
