[submodule "drove"]
	path = drove
	url = https://github.com/PhonePe/PhonePe/drove.git
[submodule "drove-cli"]
	path = drove-cli
	url = https://github.com/PhonePe/PhonePe/drove-cli.git
[submodule "epoch"]
	path = epoch
	url = https://github.com/PhonePe/PhonePe/epoch.git
[submodule "drove-gateway"]
	path = drove-gateway
	url = https://github.com/PhonePe/PhonePe/drove-gateway.git
[submodule "coredns-drove"]
	path = coredns-drove
	url = https://github.com/PhonePe/PhonePe/coredns-drove.git
[submodule "epoch-cli"]
	path = epoch-cli
	url = https://github.com/phonepe/epoch-cli
