site_name: Drove Container Orchestrator
site_url: https://phonepe.github.io/drove-orchestrator
repo_url: https://github.com/PhonePe/drove-orchestrator

theme:
  name: material
  features:
    - navigation.tracking
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    # - navigation.sections
    - content.code.copy
    - content.code.annotate
    - navigation.expand
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share

  palette:

        # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 

      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode


    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
plugins:
  - glightbox
  - search
  - awesome-pages
  - privacy:
      enabled: true
      cache: true
      cache_dir: .cache/plugins/privacy
      assets: true
      assets_fetch: true
      assets_fetch_dir: assets/external
      links: true
      links_noopener: true
  - offline:
     enabled: true
copyright: "Copyright &copy; 2024  PhonePe India Pvt Ltd"

markdown_extensions:
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - markdown_include.include:
        base_path: snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_css:
  - stylesheets/extra.css